.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid tan;
  &__fullname {
    font-size: 3rem;
  }
  &__job-title {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 400;
  }
}